/* styles.css */

:root {
  --action-button-margin: .25em;
  --action-button-height: 1em;
  --action-button-padding: calc(var(--action-button-height) / 2) .75em;
  font-family: 'Tahoma';
}

div {
  margin: 1rem;
}

input[type=file] {
  opacity: 0;
  position: fixed;
  left: -100vw;
}

/* Target the character sheet and result div */
#character-sheet,
#result {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

#probability {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

/* Target the headers */
h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

/* Target the abilities and skills */
.ability,
.skill {
  margin-bottom: 10px;
}

/* Target the checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Target the descriptions */
.description {
  font-style: italic;
}

#spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-container {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: none;
}

/* .action-button { */


.upload-button {
  padding: var(--action-button-padding);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: gray;
  margin: 0 1em;
}

#floating-action-container {
  position: fixed;
  right: 2rem;
  bottom: var(--action-button-margin);
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: repeat(2, auto);
  justify-items: end;
  align-items: center;
  grid-auto-flow: column;
}

.action-button {
  padding: var(--action-button-padding);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: var(--action-button-margin);
}

.action-button:disabled {
  opacity: 0.33;
  pointer-events: none;
}

#submit-button {
  background-color: #007bff;
}

#odds-button {
  background-color: #a16100;
}

#probability {
  display: none;
}

#result {
  display: none;
}

#result > p {
  margin: 0.25em;
}
