/* styles.css */

div {
  margin: 1rem;
}

/* Target the character sheet and result div */
#character-sheet,
#result {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

#probability {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

/* Target the headers */
h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

/* Target the abilities and skills */
.ability,
.skill {
  margin-bottom: 10px;
}

/* Target the checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Target the descriptions */
.description {
  font-style: italic;
}

#spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin: 50px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #spinner-container {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: none;
}

.action-button {
  position: fixed;
  right: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.action-button:disabled {
    opacity: 0.33;
    pointer-events: none;
}

#submit-button {
    bottom: 20px;
    background-color: #007bff;
}

#odds-button {
  bottom: 80px;
  background-color: #a16100;
}

#probability {
    display: none;
}

#result {
    display: none;
}